{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<footer class="footer footer1">
  <div class="footer1__content-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="footer1__left-wrapper">
            {%- for block in section.blocks -%}
            <div class="col-md-2 col-sm-2">
              <div class="footer1__links" style="margin-right: 5px;">
                <span  class="footer1__column-title">{{ block.settings.heading }}</span>
                {%- for link in block.settings.menu.links -%}
                  <a href="{{ link.url }}" class="footer1__link">
                    {{ link.title }}
                  </a>
                {%- endfor -%}
              </div>
            </div>
            {%- endfor -%}


            {%- if block.settings.menu != blank -%}
              <ul class="footer-block__details-content list-unstyled">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}      
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="footer1__right-wrapper">
            {% if section.settings.newsletter_enable != blank %}
              <span class="footer1__newsletter-title">
                {{ section.settings.newsletter_heading }}
              </span>
              {%- form 'customer', class: 'footer1__form-group' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="footer1__input-wrapper">
                    <input
                      type="email"
                      name="contact[email]"
                      class="footer1__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="name@company.com"
                      required
                    >
                    <button type="submit" class="footer1__btn" name="commit"  aria-label="{{ 'newsletter.button_label' | t }}">
                      <span>
                        <i class="fas fa-chevron-right"></i>
                      </span>
                    </button>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" style="font-size: .9rem; font-weight: 900; color: green;" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
              {%- endform -%}
            {% endif %}
              <p class="footer1__newsletter-desc">
                {{ section.settings.footer_info }}
              </p>
            {% if section.settings.show_social != false %}
            <div class="footer1__social-icons">
                <h5 class="footer1__social-icons-title">
                  {{ section.settings.social_heading }}
                </h5>
              <div class="footer1__social-icons-wrapper">
                {%- if settings.social_facebook_link != blank -%}
                  <a href="{{ settings.social_facebook_link }}" class="footer1__social-link">
                    <i class="fab fa-facebook"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <a href="{{ settings.social_instagram_link }}" class="footer1__social-link">
                    <i class="fab fa-instagram"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_twitter_link != blank -%}
                  <a href="{{ settings.social_twitter_link }}" class="footer1__social-link">
                    <i class="fab fa-twitter"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <a href="{{ settings.social_snapchat_link }}" class="footer1__social-link">
                    <i class="fab fa-snapchat-ghost"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <a href="{{ settings.social_pinterest_link }}" class="footer1__social-link">
                    <i class="fab fa-pinterest-square"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <a href="{{ settings.social_tiktok_link }}" class="footer1__social-link">
                    <i class="fab fa-tiktok"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <a href="{{ settings.social_youtube_link }}" class="footer1__social-link">
                    <i class="fab fa-youtube"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <a href="{{ settings.social_vimeo_link }}" class="footer1__social-link">
                    <i class="fab fa-vimeo-v"></i>
                  </a>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <a href="{{ settings.social_tumblr_link }}" class="footer1__social-link">
                    <i class="fab fa-tumblr"></i>
                  </a>
                {%- endif -%}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer1__content-bottom">
    <div class="container">
      <div class="row">
        <div class="footer1__bottom col-md-12">
          <div class="footer1__copyright col-md-8">
            &copy {{ 'now' | date: "%Y" }} {{ shop.name }}, LLC all rights reserved
          </div>
          <div class="footer1__bottom-links col-md-4">
            {% for link in section.settings.footer_bottom_links.links %}
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "textarea",
      "id": "footer_info",
      "label": "More information"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "text",
      "id": "social_heading",
      "default": "Follow us",
      "label": "Social media heading"
    },
    {
      "type": "link_list",
      "id": "footer_bottom_links",
      "label": "Footer Bottom Links"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
