<div class="hero hero2 hero2--vh{{ section.settings.hero_height }}">
  <!-- left image start -->
  <div class="hero2__collections1 hero2__collections1--aligned-{{ section.settings.info_alignment }}">
      {% if section.settings.image != blank %}
      {%- liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          if section.settings.image != blank
            assign image_class = 'hero2__bg'
          endif
          if section.settings.image != blank
            assign sizes = '(min-width: 750px) 50vw, 100vw'
          elsif section.settings.image != blank
            assign sizes = '50vw'
          else
            assign sizes = '100vw'
          endif
        -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }}
      {%- elsif section.settings.image == blank -%}
    <div>
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {% assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.00 %}
    <div class="hero2__content-container" style="background-color: {{ section.settings.background | color_modify: 'alpha', overlay_opacity }}">
      <div class="hero2__info">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="hero2__title hero2__title--{{ block.settings.title_size }}">
              {{ block.settings.title | escape }}
            </h2>
          {%- when 'buttons' -%}
            {%- if block.settings.button_label != blank -%}
              <a href="{{ block.settings.button_link }}" class="hero2__button" {{ block.shopify_attributes }}>
                <span>
                  {{- block.settings.button_label | escape -}}
                </span> 
              </a>
            {%- endif -%}
        {%- endcase -%}
        {%- endfor -%} 
      </div>
    </div>
  </div>
  <!-- left image end  -->

  <!-- right image start -->
  <div class="hero2__collections2 hero2__collections2--aligned-{{ section.settings.info_alignment_2 }}">
      {% if section.settings.image_2 != blank %}
      {%- liquid
          assign image_height = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
          if section.settings.image_2 != blank
            assign image_class = 'hero2__bg'
          endif
          if section.settings.image_2 != blank
            assign sizes = '(min-width: 750px) 50vw, 100vw'
          elsif section.settings.image_2 != blank
            assign sizes = '50vw'
          else
            assign sizes = '100vw'
          endif
        -%}
        {{
          section.settings.image_2
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image_2.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }}
      {%- elsif section.settings.image_2 == blank -%}
    <div>
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {% assign overlay_opacity_2 = section.settings.overlay_opacity_2 | divided_by: 100.00 %}
    <div class="hero2__content-container" style="background-color: {{ section.settings.background_2 | color_modify: 'alpha', overlay_opacity_2 }}">
      <div class="hero2__info">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="hero2__title hero2__title--{{ block.settings.title_size }}">
              {{ block.settings.title_2 | escape }}
            </h2>
          {%- when 'buttons' -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a href="{{ block.settings.button_link_2 }}" class="hero2__button" {{ block.shopify_attributes }}>
                <span>
                  {{- block.settings.button_label_2 | escape -}}
                </span> 
              </a>
            {%- endif -%}
        {%- endcase -%}
        {%- endfor -%} 
      </div>
    </div>
  </div>
  <!-- right image end  -->
</div>


{% schema %}
{
  "name": "Hero Two",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "hero_height",
      "options": [
        {
          "value": "25",
          "label": "25%"
        },
        {
          "value": "50",
          "label": "50%"
        },
        {
          "value": "75",
          "label": "75%"
        },
        {
          "value": "100",
          "label": "100%"
        }
      ],
      "default": "100",
      "label": "Hero Height"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "select",
      "id": "info_alignment",
      "options": [
        {
          "value": "left",
          "label": "Align left"
        },
        {
          "value": "center",
          "label": "Align center"
        },
        {
          "value": "right",
          "label": "Align right"
        }
      ],
      "default": "center",
      "label": "Info text alignment 1"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color 1",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Background overlay opacity",
      "default": 20
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "select",
      "id": "info_alignment_2",
      "options": [
        {
          "value": "left",
          "label": "Align left"
        },
        {
          "value": "center",
          "label": "Align center"
        },
        {
          "value": "right",
          "label": "Align right"
        }
      ],
      "default": "center",
      "label": "Info text alignment 2"
    },
    {
      "type": "color",
      "id": "background_2",
      "label": "Background color 2",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity_2",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Background overlay opacity 2",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title 1",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title 2",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "Extra Large"
            }
          ],
          "default": "md",
          "label": "Medium"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Two",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}