
<div class="hero hero1 hero1--aligned-{{ section.settings.info_alignment }}
  hero1--vh{{ section.settings.hero_height }}">
  {% if section.settings.image != blank %}
    {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image != blank
          assign image_class = 'hero1__bg'
        endif
        if section.settings.image != blank
          assign sizes = '(min-width: 750px) 50vw, 100vw'
        elsif section.settings.image != blank
          assign sizes = '50vw'
        else
          assign sizes = '100vw'
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
  {%- elsif section.settings.image == blank -%}
    <div>
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {% assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.00 %}
  <div class="hero1__content-container" style="background-color: {{ section.settings.background | color_modify: 'alpha', overlay_opacity }}">
    <div class="hero1__info">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="hero1__title hero1__title--{{ block.settings.title_size }}" style="color: {{ block.settings.title_color }}">
              {{ block.settings.title | escape }}
            </h2>
          {%- when 'paragraph' -%}
            <p class="hero1__paragraph">
              {{ block.settings.paragraph | escape }}
            </p>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <a href="{{ block.settings.button_link }}" class="hero1__button" {{ block.shopify_attributes }}>
                <span>
                  {{- block.settings.button_label | escape -}}
                </span> 
              </a>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}          
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Hero One",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "hero_height",
      "options": [
        {
          "value": "25",
          "label": "Height 25%"
        },
        {
          "value": "50",
          "label": "Height 50%"
        },
        {
          "value": "75",
          "label": "Height 75%"
        },
        {
          "value": "100",
          "label": "Height 100%"
        }
      ],
      "default": "100",
      "label": "Height 100%"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "select",
      "id": "info_alignment",
      "options": [
        {
          "value": "center_top",
          "label": "Center top"
        },
        {
          "value": "center_center",
          "label": "Center center"
        },
        {
          "value": "center_bottom",
          "label": "Center bottom"
        },
        {
          "value": "left_top",
          "label": "Left top"
        },
        {
          "value": "left_center",
          "label": "Left center"
        },
        {
          "value": "left_bottom",
          "label": "Left bottom"
        },
        {
          "value": "right_top",
          "label": "Right top"
        },
        {
          "value": "right_center",
          "label": "Right center"
        },
        {
          "value": "right_bottom",
          "label": "Right bottom"
        }
      ],
      "default": "center_center",
      "label": "Info text alignment"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Background overlay opacity",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "Extra Large"
            }
          ],
          "default": "xl",
          "label": "Extra Large"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#FEC89A"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Welcome message",
          "default": "It shines, glitters, reflects light."
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero One",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
